*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: rgb(255, 246, 232);
}



nav{
    display: flex;
    gap: 3%;
    background-color: rgb(37, 126, 126);
    width: 100%;
    height: 12%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 555;
    top: 0;
}

.navTitle{
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navList{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

.navItems{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.navItems:hover{
    color: #444;
}

.navButton{
    padding: 1rem;
    border: none;
    border-radius: 14px;
    font-size: 1.3rem;
    background-color: cadetblue;
}

.navButton:hover{
    background-color: rgb(55, 103, 103);
}




.tienda{
    margin: 6% 0;
}

.boton{
    text-decoration: none;
    font-size: 2rem;
    border: 1px solid #000;
    border-radius: 14px;
    padding: 1.5rem;
    display: inline-flex;
    margin: 5rem;
    background-color: blanchedalmond;
    color: #000;
}

.boton:hover{
    background-color: rgb(225, 203, 169);
}

.productos{
    width: 76%;
    height: auto;
    border: 1px solid #000;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: 3% auto;
    background-color: rgb(242, 233, 218);
}

.carrito{
    display: none;
    position: fixed;
    top: 20%;
    right: 3%;
    width: 35%;
    height: auto;
    padding: 1rem;
     border: none;
     border-radius: 14px;
    background-color: whitesmoke;
    z-index: 1001;
}

.card{
    width: 250px;
    height: auto;
    border: 1px solid #000;
    border-radius: 13px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    'img img img'
    'img img img'
    'name name name'
    'price price price'
    'buy buy buy'
    ;
    margin: 1%;
    background-color: #eee;
}

.btnBuy{
    grid-area: buy;
    width: 50%;
    padding: .7rem;
    border: none;
    border-radius: 14px;
    background-color: #ddd;
    margin: 1rem auto;
}

.productName{
    grid-area: name;
    margin: 1% 0;
    text-align: center;
}

.productPrice{
    grid-area: price;
    text-align: center;
    margin: 1% 0;
}

.productImg{
    grid-area: img;
    width: 240px;
    height: 230px;
    object-fit: cover;
    border-radius: 13px;
    margin: 1% auto;
}

#newProduct{
    padding: 1rem;
    border: none;
    border-radius: 13px;
    position: relative;
    top: 5%;
    left: 5%;
    margin: 3%;
}

#newProducts{
    width: 60%;
    text-align: center;
}

#productName, #productPrice, #productImg {
    padding: 2%;
    border: none;
    border-radius: 14px;
    margin: 4% 0;
}

#create{
    padding: 1rem;
    border: none;
    border-radius: 13px;
}



.superiorPart{
    display: flex;
}

.filters{
    width: 85%;
    padding: 1rem;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat( 5, auto);
    grid-template-rows: repeat( 3, auto);
    grid-template-areas: 
    'filters filters filters none searches'
    'categories price name none input'
    'filter filter filter search search'
    ;
}

select{
    border: none;
    border-radius: 14px;
    padding: .5rem;
    margin: 3%;
    background-color: #eee;
}

#searchInput{
    border: none;
    border-radius: 14px;
    width: 100%;
    padding: .5rem; 
    margin: 3%;
    background-color: #eee;
    grid-area: input;
}

#searchButton{
    grid-area: search;
    width: 20%;
    padding: .5rem;
    border: none;
    border-radius: 14px;
    margin: 3% auto;
}

#searchButton:hover{
    background-color: #ddd;
}

.filtersTitle{
    grid-area: filters;
}

.searchTitle{
    grid-area: searches;
}

.price{
    grid-area: price;
}

.name{
    grid-area: name;
}

.categories{
    grid-area: categories;
}

.filter{
    grid-area: filter;
    width: 10%;
    padding: .5rem;
    border: none;
    border-radius: 14px;
    margin: 3% auto;
}

.filter:hover{
    background-color: #ddd;
}

#btnCart{
    position: fixed;
    top: 14%;
    right: 2%;
}





#cart{
    width: 2.5rem;
}

.btnBuy:hover{
    background-color: #ccc;
}

#cartProductImage{
    width: 2rem;
}



.outstandingCard{
    width: 250px;
    height: auto;
    border: 1px solid #000;
    border-radius: 13px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img" "img" "name";
    margin: 1%;
    background-color: rgb(200, 213, 209);
}

.outstandingImg{
    grid-area: img;
    width: 240px;
    height: 230px;
    object-fit: cover;
    border-radius: 13px;
    margin: 1% auto;
}

.outstandingName{
    grid-area: name;
    margin: 1% 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#outstandingProducts{
    width: 76%;
    height: auto;
    border: 1px solid #000;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: 3% auto;
    background-color: rgb(229, 224, 217);
}

.outstandingTitle{
    text-align: center;
}